/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px dotted black;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    overflow-x: hidden;
}

/* header*/

header{
    display: flex;
    justify-content: center;
    background-color: #add8e6;
    padding: 10px;
    width: 100%;
}

.logo{
    width: 1200px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    background-color: gold;
    font-weight: bold;
}

nav{
    margin: 0 10px;
    color: black;
}

nav a{
    margin: 0 10px;
    color: black;
}


/* contenuto del main */

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* corpo del layout */

.box{
    background-color: darkblue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    width: 1200%;
    min-height: 200px;
    min-width: 100%;
    
}

.box-section{
    width: 60%;
    height: 150px;
    background-color: #ee82ee;
    align-self: center;
    padding: 50px;
}

/* colonne del layout */

.due-column{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
    padding: 40px 0;
    width: 100%;
    min-height: 200px;
}

.gray-bg{
    background-color: lightgrey;
}

.box{
    width: 30%;
    height: 150px;
}

.blue{
    background-color: dodgerblue;
}

.pink{
    background-color: pink;
}

/* width green */

.full-width{
    width: 100%;
    min-height: 200px;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.green{
     background-color: green;
     width: 50%;
     padding: 80px;
     
}

/* footer */

footer{
    background-color: black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.footer-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
    width: 5%;
    padding: 40px 0;
    border: 1px dotted white;
}

footer .box{
    width: 30%;
    height: 100px;
}

.teal-container{
    display: flex;
    gap: 0;
    width: 50%;
}

.teal{
    background-color: teal;
    height: 100px;
}

.footer-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #7fffd4;
    padding: 10px;
    text-align: center;
}

.button{
    background-color: #ffb6c1;
}

.logo-2{
    background-color: #ffb6c1;
}